archspec==0.2.5
asgiref==3.11.1
astc-encoder-py==0.1.12
attrs==25.4.0
audioread==3.1.0
av==17.0.0
beautifulsoup4==4.14.3
brotli==1.2.0
bs4==0.0.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
colorama==0.4.6
cryptography==46.0.5
decorator==5.2.1
Django==5.2.15
django-allauth==65.18.0
django-ratelimit==4.1.0
etcpak==0.9.15
face-alignment==1.4.1
filelock==3.25.2
fmod_toolkit==0.1.3
fsspec==2026.2.0
idna==3.11
ImageIO==2.37.3
Jinja2==3.1.6
joblib==1.5.3
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.46.0
lz4==4.4.5
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.2
networkx==3.4.2
numba==0.64.0
numpy==2.2.6
oead==1.2.9.post4
opencv-python==4.13.0.92
packaging==26.0
parse-pip-search==0.0.1
pillow==12.1.1
platformdirs==4.9.4
pooch==1.9.0
pycparser==3.0
pycryptodome==3.23.0
pyfmodex==0.7.2
Pygments==2.19.2
PyJWT==2.13.0
qrcode==8.2
requests==2.32.5
rich==14.3.3
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.0.0
sqlparse==0.5.5
sympy==1.14.0
texture2ddecoder==1.0.6
threadpoolctl==3.6.0
tifffile==2025.5.10
torch==2.10.0
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
UnityPy==1.25.0
urllib3==2.6.3
